* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color:  rgba(79,198,202,.2);
}

.top{
  min-height: 50px;   /*debug*/
  padding: 10px 0;
}

.container{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: yellow;
}

.row{
  display: flex;
}

header .logo{
  width: 25%;
}

header .link{
  width: 50%;
}

header .login{
  width: 25%;
  text-align: right;
}

header .container .row{
  height: 50px;           /*debug*/
  align-items: center;
}

header nav ul{
  display: flex;
  list-style: none;
  justify-content: center; 
}

header nav ul a{
  text-decoration: none;
  padding: 0 10px;
}

.jambo{
  background-color: blue;
  min-height: 300px;
}

.container-jambo{
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: red;
  min-height: 200px;
}


